Alias /munin /var/cache/munin/www
<Directory /var/cache/munin/www>
#        Order allow,deny
#        Allow from localhost 127.0.0.0/8 ::1
        Options None

	# This file can be used as a .htaccess file, or a part of your apache
	# config file.
	#
	# For the .htaccess file option to work the munin www directory
	# (/var/cache/munin/www) must have "AllowOverride all" or something
	# close to that set.
	#

	AuthUserFile /etc/munin/munin-htpasswd
	AuthName "Munin"
	AuthType Basic
	require valid-user

	# This next part requires mod_expires to be enabled.
	#

	# Set the default expiration time for files to 5 minutes 10 seconds from
	# their creation (modification) time.  There are probably new files by
	# that time.
	#

    <IfModule mod_expires.c>
        ExpiresActive On
    	ExpiresDefault M310
    </IfModule>

</Directory>
